<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <listener>
  	<listener-class>Context.DBContext</listener-class>
  </listener>
  <servlet>
  	<servlet-name>AllEmp</servlet-name>
  	<display-name>AllEmp</display-name>
  	<description></description>
  	<servlet-class>controller.AllEmp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Contract</servlet-name>
  	<display-name>Contract</display-name>
  	<description></description>
  	<servlet-class>controller.Contract</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Partime</servlet-name>
  	<display-name>Partime</display-name>
  	<description></description>
  	<servlet-class>controller.Partime</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Permanent</servlet-name>
  	<display-name>Permanent</display-name>
  	<description></description>
  	<servlet-class>controller.Permanent</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AllEmp</servlet-name>
  	<url-pattern>/AllEmp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Contract</servlet-name>
  	<url-pattern>/Contract</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Partime</servlet-name>
  	<url-pattern>/Partime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Permanent</servlet-name>
  	<url-pattern>/Permanent</url-pattern>
  </servlet-mapping>
</web-app>
