<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource
    name="employee1"
    auth="employee1"
    type="javax.sql.DataSource"
    maxActive="100"
    maxIdle="30"
    maxWait="10000"
    driverClassName="com.mysql.jdbc.Driver"
    url="jdbc:mysql://localhost:3306/employee1"
    username="root"
    password="Nitish@1314"/>
</Context>